body {
  background-color: #ffffff;
  color: #000000;
}

.hero {
  height: 100vh;
  position: relative;
  padding: 0 12%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.hero .hero-content {
  position: relative;
  width: 90%;
  top: 2%;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 2;
}
.hero .hero-content > h1 {
  font-size: 4rem;
  line-height: 1.2;
  width: 90%;
  margin-bottom: 1.5rem;
  font-weight: 200;
}
.hero .hero-content > p {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.2;
  width: 78%;
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.hero .hero-content > p strong {
  line-height: 1.7;
  position: relative;
  top: -0.5rem;
}
.hero .hero-content > p > img {
  height: 3.5rem;
}
.hero .hero-content > a {
  background-color: #e6ca4a;
  color: #000000;
  border-radius: 0.1rem;
  font-weight: 600;
  padding: 0.4rem 0.7rem;
  font-size: 1rem;
  border: 1px solid black;
}
.hero .hero-content > a:hover {
  color: #ffffff;
  background-color: #debc1f;
}

.products {
  padding: 2rem 12% 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 3rem;
}
.products::after {
  content: "";
  position: absolute;
  height: 1px;
  background-color: #f5ebba;
  width: 70%;
  bottom: -0.7rem;
}
.products .product-header {
  flex: 1;
}
.products .product-header > h2 {
  font-size: 3.5rem;
  width: 95%;
  line-height: 1.5;
}
.products .product-text {
  flex: 1;
  width: 100%;
}
.products .product-text > h3 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}
.products .product-text > p {
  font-size: 1.3rem;
  margin-bottom: 1.9rem;
}
.products .product-text > a {
  position: absolute;
  background-color: #e6ca4a;
  color: #000000;
  border: 1px solid #000000;
  border-radius: 0.1rem;
  font-weight: 600;
  padding: 0.4rem 0.7rem;
  font-size: 1rem;
}
.products .product-text > a:hover {
  color: #ffffff;
  background-color: #debc1f;
}

.about {
  position: relative;
  padding: 7rem 12% 7rem;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.about::after {
  content: "";
  position: absolute;
  height: 1px;
  background-color: #f5ebba;
  width: 70%;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.about > h2 {
  font-size: 3rem;
  margin-bottom: 1.5rem;
  width: 75%;
}
.about > p {
  font-size: 1.5rem;
  width: 60%;
  margin-bottom: 3.5rem;
  line-height: 1.7;
}
.about > a {
  background-color: #e6ca4a;
  color: #000000;
  border: 1px solid black;
  border-radius: 0.1rem;
  font-weight: 600;
  padding: 0.4rem 0.7rem;
  font-size: 1rem;
  transition: all 0.3s ease;
}
.about > a:hover {
  color: #ffffff;
  background-color: #debc1f;
  border-color: #6d675a;
}

.testing {
  padding: 7rem 12% 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  text-align: center;
}
.testing > h2 {
  font-size: 3rem;
  width: 75%;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.testing > h2 img {
  height: 5rem;
}
.testing > p {
  font-size: 1.5rem;
  width: 75%;
  margin-bottom: 3rem;
  line-height: 1.7;
}
.testing > a {
  background-color: #e6ca4a;
  color: #000000;
  border: 1px solid black;
  border-radius: 0.1rem;
  font-weight: 600;
  padding: 0.4rem 0.7rem;
  font-size: 1rem;
  transition: all 0.3s ease;
}
.testing > a:hover {
  color: #ffffff;
  background-color: #debc1f;
  border-color: #6d675a;
}

@media (max-width: 1210px) {
  html {
    font-size: 95%;
  }
  .hero {
    padding: 0 10%;
  }
  .hero .hero-content {
    width: 100%;
  }
  .hero .hero-content h1 {
    width: 100%;
  }
  .products {
    padding: 2rem 10% 7rem;
  }
  .products .product-header > h2 {
    width: 100%;
  }
  .about {
    padding: 7rem 10%;
  }
  .testing {
    padding: 7rem 10%;
  }
  .testing > p {
    width: 85%;
  }
}
@media (max-width: 1024px) {
  html {
    font-size: 83%;
  }
  .hero {
    padding: 0 8%;
  }
  .about {
    padding: 7rem 8%;
  }
  .products {
    padding: 2rem 8% 7rem;
  }
  .testing {
    padding: 7rem 8%;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 70%;
  }
  .hero {
    padding: 0 4%;
    height: 100dvh;
  }
  .products {
    padding: 0 4% 7rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .products::after {
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .products .product-header > h2 {
    width: 100%;
    max-width: 30rem;
    text-align: center;
    font-size: 3rem;
    margin-bottom: 11rem;
    position: relative;
  }
  .products .product-header > h2:after {
    content: "";
    position: absolute;
    height: 2px;
    width: 95%;
    bottom: -1rem;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #e6ca4a;
  }
  .products .product-text {
    width: 90%;
  }
  .products .product-text > h3 {
    font-size: 2.7rem;
    margin-bottom: 4rem;
  }
  .products .product-text > p {
    margin-bottom: 5rem;
    font-size: 1.7rem;
    width: 95%;
  }
  .about {
    padding: 7rem 4%;
    align-items: flex-end;
    text-align: right;
  }
  .about > h2 {
    margin-bottom: 4rem;
  }
  .about > p {
    width: 95%;
    font-size: 1.7rem;
    margin-bottom: 5rem;
  }
  .testing {
    padding: 7rem 4%;
  }
}
@media (min-width: 1729px) {
  html {
    font-size: 125%;
  }
  .hero {
    padding: 0 16%;
  }
  .about {
    padding: 7rem 16%;
  }
  .products {
    padding: 2rem 16% 7rem;
  }
  .testing {
    padding: 7rem 16%;
  }
}
.contact {
  padding: 12rem 12%;
}
.contact > h2 {
  font-size: 3.7rem;
}
.contact > p {
  font-size: 1.5rem;
  margin-bottom: 5rem;
  width: 70%;
}
.contact .contact-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.contact .contact-container .contact-adress {
  flex: 1;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  width: 100%;
}
.contact .contact-container .contact-adress .map {
  filter: brightness(0.5);
  width: 100%;
  transition: 0.3s ease;
}
.contact .contact-container .contact-adress .map:hover {
  filter: brightness(0.8);
}
.contact .contact-container .contact-adress .contact-text {
  margin-bottom: 1rem;
}
.contact .contact-container .contact-adress .contact-text ul {
  margin-bottom: 1rem;
}
.contact .contact-container .contact-adress .contact-text ul li {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 1rem;
  position: relative;
  height: 2rem;
}
.contact .contact-container .contact-adress .contact-text ul li i {
  margin-right: 0.5rem;
  width: 1.3rem;
  flex-shrink: 0;
  color: #e6ca4a;
  position: relative;
  top: 0.3rem;
}
.contact .contact-container .contact-adress .contact-text ul li span {
  display: block;
  left: 2.5rem;
  font-size: 0.8rem;
  top: -0.5rem;
  position: relative;
}
.contact .contact-container .form-contact {
  flex: 1;
}
.contact .contact-container .form-contact form {
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  background-color: #ffffff;
  border-radius: 0.1rem;
  margin-bottom: 1rem;
}
.contact .contact-container .form-contact form > h3 {
  font-size: 2.2rem;
  margin-bottom: 2rem;
}
.contact .contact-container .form-contact form label {
  display: none;
}
.contact .contact-container .form-contact form input {
  width: 100%;
  background-color: #ffffff;
  margin-bottom: 1rem;
  height: 3rem;
  padding: 0.5rem;
  font-size: 1.1rem;
  font-weight: bold;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
}
.contact .contact-container .form-contact form textarea {
  background-color: #ffffff;
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.5rem;
  resize: none;
  font-size: 1.1rem;
  font-weight: bold;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
}
.contact .contact-container .form-contact form button {
  width: 100%;
  background-color: #e6ca4a;
  color: #000000;
  height: 3rem;
  font-weight: bold;
  transition: 0.3s ease;
  cursor: pointer;
}
.contact .contact-container .form-contact form button:hover {
  background-color: #debc1f;
  color: #ffffff;
}
.contact .contact-container .form-contact .form-icon {
  width: 100%;
  background-color: #ffffff;
  display: flex;
  gap: 1rem;
  padding: 0.7rem 2rem;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
  justify-content: space-between;
}
.contact .contact-container .form-contact .form-icon .icon-text a {
  display: flex;
  align-items: center;
  cursor: pointer;
  filter: brightness(0) invert(0);
}
.contact .contact-container .form-contact .form-icon .icon-text a span {
  margin-left: 0.5rem;
  display: inline-block;
}

@media (max-width: 1210px) {
  html {
    font-size: 95%;
  }
  .contact {
    padding: 12rem 10%;
  }
  .contact .contact-container {
    gap: 1.5rem;
  }
  .contact .contact-container .form-contact form {
    padding: 1rem;
  }
}
@media (max-width: 1024px) {
  html {
    font-size: 83%;
  }
  .contact {
    padding: 12rem 8%;
  }
  .contact > p {
    margin-bottom: 7rem;
    width: 85%;
  }
  .contact .contact-container {
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }
  .contact .contact-container .contact-adress {
    flex-direction: column-reverse;
    margin-bottom: 10rem;
    gap: 7rem;
  }
  .contact .contact-container .contact-adress .contact-text {
    flex: 1;
    display: flex;
    justify-content: start;
    align-items: start;
    margin-bottom: 0;
  }
  .contact .contact-container .contact-adress .contact-text ul li {
    font-size: 1.3rem;
    margin-bottom: 1.5rem;
  }
  .contact .contact-container .contact-adress .contact-text ul li span {
    font-size: 1.1rem;
  }
  .contact .contact-container .contact-adress .map {
    flex: 1;
    filter: none;
  }
  .contact .contact-container .contact-adress .map iframe {
    height: 400px;
    width: 400px;
  }
  .contact .contact-container .form-contact {
    flex: unset;
    width: 70%;
    max-width: 35rem;
  }
  .contact .contact-container .form-contact form {
    padding: 2rem;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 70%;
  }
  .contact {
    padding: 12rem 4%;
  }
  .contact .contact-container .contact-adress {
    width: 100%;
  }
  .contact .contact-container .contact-adress .map iframe {
    width: 100%;
  }
  .contact .contact-container .form-contact {
    width: 100%;
    max-width: 35rem;
  }
}
@media (min-width: 1729px) {
  html {
    font-size: 125%;
  }
  .contact {
    padding: 12rem 16%;
  }
  .contact .contact-container {
    gap: 12rem;
  }
}/*# sourceMappingURL=kontakt.css.map */