body {
  background-color: #ffffff;
  color: #000000;
}

.hero {
  height: 100vh;
  position: relative;
  padding: 0 12%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.hero .hero-content {
  position: relative;
  width: 90%;
  top: 2%;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 2;
}
.hero .hero-content > h1 {
  font-size: 4rem;
  line-height: 1.2;
  width: 90%;
  margin-bottom: 1.5rem;
  font-weight: 200;
}
.hero .hero-content > p {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.2;
  width: 78%;
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.hero .hero-content > p strong {
  line-height: 1.7;
  position: relative;
  top: -0.5rem;
}
.hero .hero-content > a {
  background-color: #e6ca4a;
  color: #000000;
  border-radius: 0.1rem;
  font-weight: 600;
  padding: 0.4rem 0.7rem;
  font-size: 1rem;
  border: 1px solid black;
}
.hero .hero-content > a:hover {
  color: #ffffff;
  background-color: #debc1f;
}

.products {
  padding: 2rem 12% 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 3rem;
}
.products::after {
  content: "";
  position: absolute;
  height: 1px;
  background-color: #f5ebba;
  width: 70%;
  bottom: -0.7rem;
}
.products .product-header {
  flex: 1;
}
.products .product-header > h2 {
  font-size: 3.5rem;
  width: 95%;
  line-height: 1.5;
}
.products .product-text {
  flex: 1;
  width: 100%;
}
.products .product-text > h3 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}
.products .product-text > p {
  font-size: 1.3rem;
  margin-bottom: 1.9rem;
}
.products .product-text > a {
  position: absolute;
  background-color: #e6ca4a;
  color: #000000;
  border: 1px solid #000000;
  border-radius: 0.1rem;
  font-weight: 600;
  padding: 0.4rem 0.7rem;
  font-size: 1rem;
}
.products .product-text > a:hover {
  color: #ffffff;
  background-color: #debc1f;
}

.about {
  position: relative;
  padding: 7rem 12% 7rem;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.about::after {
  content: "";
  position: absolute;
  height: 1px;
  background-color: #f5ebba;
  width: 70%;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.about > h2 {
  font-size: 3rem;
  margin-bottom: 1.5rem;
  width: 75%;
}
.about > p {
  font-size: 1.5rem;
  width: 60%;
  margin-bottom: 3.5rem;
  line-height: 1.7;
}
.about > a {
  background-color: #e6ca4a;
  color: #000000;
  border: 1px solid black;
  border-radius: 0.1rem;
  font-weight: 600;
  padding: 0.4rem 0.7rem;
  font-size: 1rem;
  transition: all 0.3s ease;
}
.about > a:hover {
  color: #ffffff;
  background-color: #debc1f;
  border-color: #6d675a;
}

.testing {
  padding: 7rem 12% 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  text-align: center;
}
.testing > h2 {
  font-size: 3rem;
  width: 75%;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.testing > h2 img {
  height: 5rem;
}
.testing > p {
  font-size: 1.5rem;
  width: 75%;
  margin-bottom: 3rem;
  line-height: 1.7;
}
.testing > a {
  background-color: #e6ca4a;
  color: #000000;
  border: 1px solid black;
  border-radius: 0.1rem;
  font-weight: 600;
  padding: 0.4rem 0.7rem;
  font-size: 1rem;
  transition: all 0.3s ease;
}
.testing > a:hover {
  color: #ffffff;
  background-color: #debc1f;
  border-color: #6d675a;
}

@media (max-width: 1210px) {
  html {
    font-size: 95%;
  }
  .hero {
    padding: 0 10%;
  }
  .hero .hero-content {
    width: 100%;
  }
  .hero .hero-content h1 {
    width: 100%;
  }
  .products {
    padding: 2rem 10% 7rem;
  }
  .products .product-header > h2 {
    width: 100%;
  }
  .about {
    padding: 7rem 10%;
  }
  .testing {
    padding: 7rem 10%;
  }
  .testing > p {
    width: 85%;
  }
}
@media (max-width: 1024px) {
  html {
    font-size: 83%;
  }
  .hero {
    padding: 0 8%;
  }
  .about {
    padding: 7rem 8%;
  }
  .products {
    padding: 2rem 8% 7rem;
  }
  .testing {
    padding: 7rem 8%;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 70%;
  }
  .hero {
    padding: 0 4%;
    height: 100dvh;
  }
  .products {
    padding: 0 4% 7rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .products::after {
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .products .product-header > h2 {
    width: 100%;
    max-width: 30rem;
    text-align: center;
    font-size: 3rem;
    margin-bottom: 11rem;
    position: relative;
  }
  .products .product-header > h2:after {
    content: "";
    position: absolute;
    height: 2px;
    width: 95%;
    bottom: -1rem;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #e6ca4a;
  }
  .products .product-text {
    width: 90%;
  }
  .products .product-text > h3 {
    font-size: 2.7rem;
    margin-bottom: 4rem;
  }
  .products .product-text > p {
    margin-bottom: 5rem;
    font-size: 1.7rem;
    width: 95%;
  }
  .about {
    padding: 7rem 4%;
    align-items: flex-end;
    text-align: right;
  }
  .about > h2 {
    margin-bottom: 4rem;
  }
  .about > p {
    width: 95%;
    font-size: 1.7rem;
    margin-bottom: 5rem;
  }
  .testing {
    padding: 7rem 4%;
  }
}
@media (min-width: 1729px) {
  html {
    font-size: 125%;
  }
  .hero {
    padding: 0 16%;
  }
  .about {
    padding: 7rem 16%;
  }
  .products {
    padding: 2rem 16% 7rem;
  }
  .testing {
    padding: 7rem 16%;
  }
}
.hero .hero-content > h1 {
  width: 95%;
}
.hero .hero-content > p {
  width: 95%;
  font-size: 1.5rem;
}

.services {
  padding: 2rem 12% 5rem;
  width: 100%;
  position: relative;
}
.services::after {
  content: "";
  position: absolute;
  height: 1px;
  background-color: #f2e4a4;
  width: 70%;
  bottom: 3.7rem;
  left: 50%;
  transform: translate(-50%, -50%);
}
.services > h2 {
  font-size: 2rem;
  margin-bottom: 3rem;
  width: 80%;
}
.services aside {
  margin-bottom: 9rem;
}
.services aside > h3 {
  font-size: 1.7rem;
  margin-bottom: 1rem;
}
.services aside ol {
  margin-left: 1rem;
}
.services aside ol > li {
  font-size: 1.3rem;
  font-weight: 600;
}
.services aside ol > li span {
  color: #e6ca4a;
}
.services .timeline {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: minmax(10rem, auto);
  gap: 5rem;
  -moz-column-gap: 3rem;
       column-gap: 3rem;
  padding-bottom: 7rem;
}
.services .timeline .timeline-item {
  background-color: #ffffff;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 2.5rem 3.7rem;
  border-radius: 0.1rem;
  transition: 0.2s ease;
  position: relative;
}
.services .timeline .timeline-item .timeline-content .time-line-icon {
  transition: 0.1s ease;
  filter: brightness(0) invert(0);
  position: absolute;
  right: 5%;
  top: 7%;
}
.services .timeline .timeline-item:hover {
  scale: 1.01;
}
.services .timeline .timeline-item:hover .timeline-content .time-line-icon img {
  scale: 1.03;
  filter: brightness(0) invert(0);
}
.services .timeline .timeline-item .timeline-content > h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  width: 95%;
}
.services .timeline .timeline-item .timeline-content > p {
  font-size: 1.2rem;
  width: 95%;
}
.services .timeline .fifth .timeline-content > p {
  margin-bottom: 4rem;
}
.services .timeline .fifth .timeline-content .call {
  font-size: 1.3rem;
  display: block;
  margin-bottom: 1rem;
}
.services .timeline .fifth .timeline-content .call span {
  font-weight: bolder;
}
.services .timeline .fifth .timeline-content .mail {
  font-size: 1.3rem;
  display: block;
  margin-bottom: 2rem;
}
.services .timeline .fifth .timeline-content .mail span {
  font-weight: bolder;
}
.services .timeline .fifth .timeline-content .btn {
  background-color: #e6ca4a;
  color: #000000;
  border-radius: 0.1rem;
  font-weight: 600;
  padding: 0.4rem 0.7rem;
  font-size: 1rem;
  border: 1px solid black;
}
.services .timeline .fifth .timeline-content .btn:hover {
  color: #ffffff;
  background-color: #debc1f;
  border-color: #6d675a;
}

.transport {
  padding: 4rem 12% 10rem;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.transport > h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
}
.transport > p {
  font-size: 1.5rem;
  margin-bottom: 4rem;
  width: 60%;
}
.transport .transport-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  gap: 0.7rem;
}
.transport .transport-flex .transport-item {
  flex: 1;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 1.3rem 2rem;
  border-radius: 0.1rem;
  transition: 0.2s ease;
  text-align: center;
}
.transport .transport-flex .transport-item:hover {
  scale: 1.03;
}
.transport .transport-flex .transport-item > h3 {
  font-size: 1.2rem;
  font-weight: bolder;
  margin-bottom: 1rem;
}
.transport .transport-flex .transport-item > p {
  font-size: 1.1rem;
  line-height: 1.3;
}
.transport .transport-flex .transport-item > a {
  display: inline-block;
  margin-top: 1.5rem;
  background-color: #e6ca4a;
  color: #000000;
  border-radius: 0.1rem;
  font-weight: 600;
  padding: 0.4rem 0.7rem;
  font-size: 1rem;
  line-height: 1.2;
  border: 1px solid black;
}
.transport .transport-flex .transport-item > a:hover {
  color: #ffffff;
  background-color: #debc1f;
  border-color: #6d675a;
}

@media (max-width: 1210px) {
  html {
    font-size: 95%;
  }
  .services {
    padding: 2rem 10% 5rem;
  }
  .services h2 {
    width: 85%;
  }
  .services .timeline {
    gap: 4rem;
  }
  .services .timeline .timeline-item {
    padding: 2.5rem 3rem;
  }
  .transport {
    padding: 4rem 10% 10rem;
  }
  .transport .transport-flex .transport-item {
    padding: 1.3rem 1rem;
  }
}
@media (max-width: 1024px) {
  html {
    font-size: 83%;
  }
  .services {
    padding: 2rem 8% 5rem;
  }
  .services .timeline {
    gap: 0.7rem;
  }
  .services .timeline .timeline-item {
    padding: 2.5rem 2rem;
  }
  .services .timeline .timeline-item .timeline-content > h3 {
    width: 90%;
  }
  .transport {
    padding: 4rem 8% 10rem;
  }
  .transport p {
    width: 70%;
  }
  .transport .transport-flex {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    position: relative;
    z-index: 1;
  }
  .transport .transport-flex::before {
    content: "";
    position: absolute;
    width: 3px;
    right: 48%;
    height: 100%;
    background-color: #f5ebba;
    z-index: -999;
  }
  .transport .transport-flex::after {
    content: "";
    position: absolute;
    width: 3px;
    left: 48%;
    height: 100%;
    background-color: #f5ebba;
    z-index: -999;
  }
  .transport .transport-flex .transport-item {
    padding: 4rem 2.5rem;
    width: 60%;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 1;
    background-color: #ffffff;
  }
  .transport .transport-flex .transport-item h3 {
    font-size: 1.6rem;
    margin-bottom: 2rem;
  }
  .transport .transport-flex .transport-item p {
    width: 85%;
    font-size: 1.3rem;
    margin-bottom: 2rem;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 70%;
  }
  .services {
    padding: 4rem 4% 10rem;
  }
  .services .timeline {
    grid-template-columns: auto;
    grid-auto-rows: auto;
    gap: 3rem;
  }
  .services .timeline .timeline-item {
    padding: 3rem;
  }
  .transport {
    padding: 4rem 4% 10rem;
  }
  .transport .transport-flex .transport-item {
    width: 90%;
  }
}
@media (min-width: 1729px) {
  html {
    font-size: 125%;
  }
  .services {
    padding: 2rem 16% 5rem;
  }
  .services .timeline {
    -moz-column-gap: 3rem;
         column-gap: 3rem;
  }
  .services .timeline .transport-item {
    padding: 2.5rem 10rem;
  }
  .services .timeline .fifth .timeline-content p {
    margin-bottom: 1rem;
  }
  .transport {
    padding: 4rem 16% 5rem;
  }
  .transport .transport-flex {
    gap: 5rem;
  }
  .transport .transport-flex .transport-item {
    padding: 2rem 3rem;
  }
}/*# sourceMappingURL=servis.css.map */